
.art-grid {
    max-width: 100%;
    
    padding: 4px;
}
#background{
    position: fixed;
    object-fit: fill;
    min-width: 100vw;
    min-height: 100vh;
    
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.art-item {
    position: relative;
    
    overflow: hidden;
    
    border-radius: 4vmin;
    border-style: none;

}

.art-item-cover {
    position: absolute;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: white;
    
    opacity: 0;
    z-index: 1;
    
    transition: opacity 0.2s;
}

.art-item-cover:hover {
    opacity: 0.75;
    cursor: pointer;
}

.art-item-cover p {
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
}

.art-grid-row {
    display: flex;
    flex-direction: row;
    
}

.popup {
    position: fixed;
    
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    background-color: #000000aa;
    
    z-index: 3;
}

.popup-content {
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100vw;
    height: 100vh;
    
    object-fit: contain;
    object-position: center;
}

.popup-row {
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    flex-wrap: nowrap;
    
}

.popup-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    flex-wrap: nowrap;
}

.popup-item {
    background-color: #00000077;
    
    color: #ffffff;
    
    padding: 8px;
    
    z-index: 5;
    
    opacity: 100%;
    
    transition: opacity 1s;
}

.popup-item-hidden {
    opacity: 0%;
}

.popup-item a {
    cursor: pointer;
}

.top-left {
    padding: 16px;
    
    max-width: 50vw;
    white-space: pre-line;
}

.top-left h2 {
    font-size: 32px;
    color: white;
    margin: 0;
    padding: 0;
}

.top-left p {
    margin: 0;
    padding: 0;
    
    margin-top: 8px;
}

.bottom-left {
    max-width: 64px;
}

.disabled {
    opacity: 33%;
    cursor: default;
}


@media screen and (max-width: 1184px) {
    .art-grid-row {
        flex-direction: column;
        
        margin-bottom: 0px;
    }
    
    .art-grid-row div {
        margin-bottom: 8px;
    }
}
