
.game-display-item-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.game-display-item {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
    margin: 15px;
    border-radius: 4vmin;
    border-style: none;

    outline-color: black;
    outline-style: solid;
    outline-width: .5vmin;
    
}
img{
    margin-bottom: -5px;
}

.hc {
    background-image: url(res/games/hookcat.png?as=webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #CCC59F;
    color: var(--main-text-color)
}
.de {
    background-image: url(res/games/DE.jpg?as=webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #94EAFD;
    color: var(--main-text-color)
}
.mm {
    background-image: url(res/games/square.png?as=webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #1D78DB;
    color: var(--main-text-color)
}
.mv {
    
    background-image: url(res/games/Microvanialogosquare.png?as=webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #010101;
    color: var(--fourth-text-color)
}   
.vf {
    
    background-image: url(res/games/viewfinder.png?as=webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #C0CFF8;
    color: var(--main-text-color)
}

.p5w {
    background-image: url(res/games/p5widget.png?as=webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #ff4747;
    color: var(--main-text-color)
}

.uv {
    
    background-image: url(res/games/univerrasquare.png?as=webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #767fc9;
    color: var(--main-text-color)
}
.ld {
    
    background-image: url(res/games/loaded.png?as=webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #D0183F;
    color: var(--main-text-color);
}


.ur {
    
    background-image: url(res/games/Uproot.png?as=webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #42A7F6;
    color: var(--main-text-color)
}

.game-display-item img {
    width: 20%;
    height: 20%;
}

.game-display-item-description {
    display: inline-block;
    text-align: left;
    margin-left: 24vw;
}

.game-display-item-description h3 {
    margin: 0;
    padding: 0;
    font-size: 36px;
}

.game-display-item-description h4 {
    margin: 0;
    padding: 0;
    font-size: 22px;
}

.game-display-item-description p {
    margin: 0;
    padding: 0;
    
    font-size: 24px;
}

.game-display-item-description a {
    margin: 0;
    padding: 0;
    
    font-size: 24px;
    font-weight: bold;
    color: purple;
}


@media only screen and (max-width: 768px) {
    .game-display-item img {
        width: 192px;
        height: 192px;
    }
}
